.titulo h2 {
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    color: #0e0e0e;
    text-transform: uppercase;
    background-color: #a1b2bd;
}

.titulo h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    color: #0e0e0e;
    text-transform: uppercase;
}

.one-third-hb {
    width: 33%;
    float: left;
    padding: 10px;
    text-align: center;
}